@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

ul {
	list-style-type: disc;
	list-style-position: inside; /* Moves the bullet inside the content */
	padding-left: 20px; /* Adjust to align the bullets neatly */
	margin-left: 0; /* Remove extra margin */
}

ol {

	list-style-type: decimal;
	padding-left: 0;   /* Ensure no additional padding on list items */
	margin-left: 0;    /* Ensure no additional margin on list items */
	line-height: 1.5;  /* Adjust line height for better spacing */
}

a {
	color: rgb(67, 67, 255);
}

body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: xx-large;
	font-weight: bold;
}
h2 {
	font-size: x-large;
	font-weight: bold;
}

h3 {
	font-size: large;
	font-weight: bold;
}

code {
	font-family: monospace;
}

pre {
	background-color: rgb(240, 240, 240);
	padding: 1em;
	overflow-x: auto;
}
