---
import Socials from './Socials.astro'

const today = new Date()
---

<footer class="flex flex-col">
	&copy; {today.getFullYear()} Théo Bourgeois. All rights reserved.
	<div class="flex justify-center mt-2">
		<Socials />
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
</style>
