---
import Socials from './Socials.astro'
---

<header class="mx-auto w-3/4 pt-4">
	<div class="flex flex-wrap items-center justify-between">
		<h1>
			<a
				class="text-center text-[9vw] font-semibold text-zinc-800 sm:text-[8vw] md:text-6xl"
				href="/"><span class="">théo</span><span class="text-blue-700">bourgeois</span>.com</a>
		</h1>
		<Socials size={28} />
	</div>
</header>
