---
// import HeaderLink from './HeaderLink.astro';
---

<header class="w-3/4 mx-auto flex pt-4">
	<nav class="flex flex-col justify-center">
		<h1><a class="font-semibold text-5xl text-center text-zinc-800" href="/">théobourgeois.com</a></h1>
	</nav>
</header>